p Generate your very own Persona test user

.create-user
  form(action='/test_user')
    input(type='submit')

.create-assertion
  form(action='/assertion', method='POST')
    input(type='text', name='email')
    input(type='text', name='password')
    input(type='submit')

