#verified-email-template(style='display: none')
  ul.info
    li
      span.key Username
      span.value
        tt.selectable {{ email }}
    li
      span.key Password
      span.value
        tt.selectable {{ password }}
    li
      span.key Expires
      span.value {{ expiresDisplay }}

#unverified-email-template(style='display: none')
  ul.info
    li
      span.key Username
      span.value
        tt.selectable {{ email }}
    li
      span.key Password
      span.value
        tt.selectable {{ password }}
    li
      span.key Token
      span.value
        tt.selectable {{ token }}
    li
      span.key Expires
      span.value {{ expiresDisplay }}



div
  #status
    .message Generate your very own Persona test user.  &lt;gleam!/&gt;


div

  div This is a service for creating temporary test user accounts and assertions for 
    a(href='https://persona.org') Persona
    | .

  h3 HTTP API

  dl
    dt Verified Email
    dd
      code GET /email/verified
        span.option /:env
      p Get a new, verified email and password.  
        a(class='function', href='/email/verified', id='submit-email-verified') Try it!

      div
        .info
          #create-verified-email-info

    dt Unverified Email
    dd
      code GET /email/unverified
        span.option /:env
      p Get an email, password, and verification token.  
        a(class='function', href='/email/unverified', id='submit-email-unverified') Try it!

        .info
          #create-unverified-email-info


    dt Email and Assertion
    dd
      code GET /assertion/
        span.param :audience
        span.option /:env
      p Get a new email, password, and assertion for the given audience.

    dt Assertion
    dd
      code GET /assertion/
        span.param :audience
        | /email/
        span.param :email
        | /password/
        span.param :password
        span.option /:env
      p Get an assertion, using a valid email and password, for the given audience.


script
  head.ready(function() {
    var model = new Application;
    var view = new ApplicationView({model:model});
  });
