!!!5
html
  head
    title Persona Test User
    link(rel='stylesheet', href='/css/main.css')
    script(src='/js/head.min.js')

  body

    a(href='http://github.com/lloyd/personatestuser.org', id='fork')
      img(src='/i/github.png')

    #wrapper
      #centered

        #header 
          h1 Persona Test User

        #content
          != body

    script
      head.js(
        {jquery:        "/js/jquery.min.js"},
        {noisy:         "/js/jquery.noisy.min.js"},
        {underscore:    "/js/underscore-min.js"},
        {backbone:      "/js/backbone-min.js"},
        {socket_io:     "/socket.io/socket.io.js"},
        {app:           "/js/main.js"}
      );

      head.ready(function() {
        $('body').noisy();
      });
  
  

