/* http://meyerweb.com/eric/tools/css/reset/
   v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 
 End of reset
 */

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  background-color: #ccc;
  color: #000;
}

h1 {
  font-size: 2em;
  padding: 1em 0em;
}

#status {
  min-height: 1.6em;
}

#fork {
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
}

#wrapper {
  position: absolute;
  width: 800px;
  margin-left: 100px;
  display: block;
}

#centered {
  width: 600px;
  display: block;
  margin: 0 auto;
  padding-top: 4em;
}

p {
  line-height: 1.6em;
}

/* data display */

ul.info {
  padding: 6px 10px;
  border-radius: .6em;
  margin: 14px 0px;
  background-color: #ddd;
  font-size: 1.2em;
}

ul.info li {
  padding: 4px 0px;
}

span.key {
  display: inline-block;
  min-width: 7em;
  font-weight: bold;
  border-right: 1em;
}

span.value {
  display: inline-block;
  min-width: 12em;
  color: #565656;
}

span.value tt { 
  color: #000;
  font-family: "Courier New",Courier,monospace;
  display: inline-block;
  border: 1px solid #ccc;
  background-color: #eee;
  margin: 0;
  padding: 3px 6px;
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.2);
}

/**
 * disable selection on everything except the data fields
 * it just feels cleaner that way
 */

* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

.selectable {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text;
}
tt::selection {
  background: #f9d0d0;
}
tt::-moz-selection {
  background: #f9d0d0;
}


/* fancy button vanity */

a.function {
  background-color: #549fdc;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  min-width: 14em;
  outline: none;
  padding: 4px 6px;
  font-size: 1.4em;
  margin: 6px 0px;
  -moz-border-radius: .6em;
  -webkit-border-radius: .6em;
  border-radius: .6em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, left top, left bottom, from(#549fdc), to(#4384c4));
  background: -moz-linear-gradient(top, #549fdc, #4384c4);
}

a.function:active {
  position: relative;
  top: 1px;     /* slight push down on click */
  background: -webkit-gradient(linear, left top, left bottom, from(#4384c4), to(#549fdc));
  background: -moz-linear-gradient(top, #4384c4, #549fdc);
}

a.function:hover {
  background: #679ef1;
  background: -webkit-gradient(linear, left top, left bottom, from(#679ef1), to(#538ad1));
  background: -moz-linear-gradient(top, #679ef1, #538ad1);
}
